<!DOCTYPE html>
<html>
<head>
  <title>GoogleMaps</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfmA8K5TlRokIv-zqeSDo7o1G8zNsg7Eg&signed_in=false&libraries=places&callback=initMap" async defer></script>

</body>
</html>
